@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="post">
    <label>Họ và tên:</label>
    <input type="text" name="FullName" />
    <br />

    <label>Địa chỉ:</label>
    <input type="text" name="Address" />
    <br />

    <input type="submit" value="Gửi dữ liệu" />
</form>
<h1>@ViewBag.Message</h1>