<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - DemoMVC</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Person" asp-action="Index">Bài 1 - Tuổi</a> |
            <a asp-controller="Calculator" asp-action="Index">Bài 2 - Máy tính</a> |
            <a asp-controller="Bmi" asp-action="Index">Bài 3 - BMI</a>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <hr />
        <p>&copy; 2025 - DemoMVC</p>
    </footer>
</body>
</html>
